.container {
  max-width: 100%;
  padding: -12px;
  text-align: center;
  background-color: #ebe9e5;
}

.adverting {
  font-size: 24px;
  font-weight: bold;
  animation:  shakeAnimation 0.050s infinite;
  
}




.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Espacio entre las tarjetas */
  padding: 20px;
}



.card {
  border: 1.5px solid #9a9a9a;
  border-radius: 20px;
  border-style: groove;
  padding: 37px;
  margin: 10px;
  max-width: 300px;
  box-shadow: 0px 0px 0px 2px #0056b3;
  flex: grid; /* Para que las tarjetas se expandan en el contenedor */
}

.card h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  margin-bottom: 10px;
}

.card a {
  display: inline-block; /* Cambiado a inline-block para que el ancho se ajuste al contenido */
  background-color: #0056b3;
  color: #fff;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.card a:hover {
  background-color: #007bff;
}
