.conGener{
  margin-top: -50px;
  
  
}

.mifoto {
  width: auto !important;
  height: 200px !important;
  margin-top: 60px;
  margin-bottom: -120px;
  margin-left: 300px;
 position: relative;
 display: inline-table;
  border-radius: 5px;
  border-style: groove;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    text-align: justify;
    background-color: #ebe9e5;
    
    
  }
  
  /* .aboutTittle {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 30px;
  }
   */
  .puedesllam {
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 120px;
  }
  
  .descriptionCent{
    text-align: center;    
  }
  
  .description {
    font-size: 18px;
    color: #131142;
    line-height: 1.6;
    margin-bottom: 20px;
    
  }
  
  .aboutcenter {
    margin: 20px auto;
    border: 1px solid #ddd;
    width: 50%;
  }
  
  .aboutme {
    font-size: 28px;
    font-weight: bold;
    color: #333;
  }
  
  .btndowload {
   
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    
    
  }
  
  .btndowload:hover {
    background-color: #0056b3;
  }
  
  /* Additional styles for a more stylized appearance */
  .sectionTitle {
    font-size: 24px;
    font-weight: bold;
    
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  /* .skillItem {
    margin: 10px 0;
    background-color: aqua;
  }
  
  .skillItem span {
    font-weight: bold;
    color: #007bff;
  } */

  .CVCV{
    background-color: #282c34;
    border-radius: 20%;
  }

  .stackCV{
    text-align: center;
    min-width: 15px;
  }
  
  .Skillsdiv{
   display: grid;
    padding-top: 60px;
    border-style: groove;
  }
  
 
  
 /* Agrega estilos para el modal */
.languageModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.832);
  padding: 20px;
  border-radius: 40px ;
  
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
}

/* Estilos para los botones de idioma */
.languagemodal button {
  margin: 10px;
  padding: 10px 25px;
  background-color: #007bff; /* Cambia el color de fondo según tu preferencia */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.languagemodal button:hover {
  background-color: #04fad5; /* Cambia el color de fondo al pasar el mouse por encima */
}

