#titleHome{
    color: #282c34;
}

img{
   
    width: 75px;
    height: 75px;
}


  
  .Hcontainer > * {
    margin-right: 17px; 
    
  } 

  .seccion{
    display: block;
    margin-top: -40px;
    
  }