#titleHome {
  padding-top: 110px;
  color: #06213e;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}

/* .mifoto{
  width: auto !important ;
  height :200px! important;
  margin-top: 60px;
  margin-bottom: -120px;
  
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 

} */

img{   
    width: 75px;
    height: 75px;
}
  
  .Hcontainer > * {
    margin-right: 15px; 
   display: inline-flexbox;        
  } 

  .seccion{
    display: block;
    margin-top: -40px;
    text-align: center;
    justify-items: center;
  }
  .CVCV{
    margin-top: 20px;    
    border-radius: 20px;    
  }

  .stackCV{
    text-align: center;
    min-width: 15px;
    margin-top: -67px;    
  }

  .btndowload {      
    display: inline-block;
    padding: 10px 15px;
    background-color: #0056b3;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border-style: groove;
    transition: background-color 0.3s ease;    
  }
  
  .btndowload:hover {
    background-color: #007bff;
  }