#titleHome {
  padding-top: 110px;
  color: #06213e;
  font: 2.3em sans-serif;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.526); 
}

/* .mifoto{
  width: auto !important ;
  height :200px! important;
  margin-top: 60px;
  margin-bottom: -120px;
  
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 

} */

img{   
    width: 75px;
    height: 75px;
}
  
  .Hcontainer > * {
    margin-right: 15px; 
   display: inline-flexbox;        
  } 

  .seccion{
    display: block;
    margin-top: -40px;
    text-align: center;
    justify-items: center;
  }
  .CVCV{
    margin-top: 20px;    
    border-radius: 20px;    
  }

  .stackCV{
    text-align: center;
    min-width: 15px;
    margin-top: -67px;    
  }

  .btndowload {      
    display: inline-block;
    padding: 10px 15px;
    background-color: #0056b3;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border-style: groove;
    transition: background-color 0.3s ease;    
  }
  
  .btndowload:hover {
    background-color: #007bff;
  }

 /* Agrega estilos para el modal */
.languageModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.832);
  padding: 20px;
  border-radius: 50px ;
  
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
}

/* Estilos para los botones de idioma */
.languagemodal button {
  margin: 10px;
  padding: 10px 25px;
  background-color: #007bff; /* Cambia el color de fondo según tu preferencia */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.languagemodal button:hover {
  background-color: #04fad5; /* Cambia el color de fondo al pasar el mouse por encima */
}
