/* Contact.module.css */

/* Estilos para el contenedor del formulario */
.container {
    max-width: 400px;
    margin: 12px auto;
    padding: 40px;
    border: 2px solid #9a9a9a;
    border-radius: 20px;
    border-style: groove;
    box-shadow: 0px 0px 0px 1px #0056b3;

  }
  .Estoy{
    background-color: #0057b371;
    border-radius:20px ;
    font-size: larger;
    padding: 10px 10px 5px 5px;
        
  }
  h4{
    color: #fff;
  }
 
  
  /* Estilos para las etiquetas del formulario */
  label {
    display: block;
    margin-bottom: 5px;
    background-color: #40408217;
    border-radius: 20px;
  }
  
  /* Estilos para los campos de entrada del formulario */
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #404082;
    border-radius: 20px;
  }
  
  /* Estilos para el botón de enviar */
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Estilos para el mensaje de éxito */
  .success-message {
    margin-top: 10px;
    animation: changeColor 1s infinite; /* Aplicamos la animación "changeColor" durante 3 segundos en bucle infinito */
  }
  
  @keyframes changeColor {
    0% {
      color: red; /* Primer color: rojo */
    }
    50% {
      color: green; /* Segundo color: verde */
    }
    100% {
      color: blue; /* Tercer color: azul */
    }
  }
  
  .Ninja{
    margin-top: 4px;
    background-color: #282c34;
    display: flex;
    align-content:flex-end;
    padding: 5px;
    max-width: 2px;
    min-height: 128px;
    

  }
  