/* Contact.module.css */


/* Estilos para el contenedor del formulario */
.container {
    max-width: 350px;
    max-height: 500px;
    margin: 11px auto;
    padding: 35px;
    border: 2px solid #9a9a9a;
    border-radius: 20px;
    border-style: groove;
    box-shadow: 0px 1px 0px 2px #01012a;
  }
  .Estoy{
    background-color: #0057b361;
    border-radius:20px ;
    font-size: larger;
    padding: 10px 10px 5px 5px;   
    border: 0.9px solid #9a9a9a;   
    border-style: groove;      
  }
  h4{
    color: #01012a;
  }
 
  
  /* Estilos para las etiquetas del formulario */
  label {
    display: block;
    margin-bottom: 5px;
    background-color: #4040820c;
    border-radius: 20px;
  }

  
  
  /* Estilos para los campos de entrada del formulario */
  input,
  textarea {
    
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 0.5px solid #404082;
    border-radius: 11px;
    
  }
  
  /* Estilos para el botón de enviar */
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 11px;
    cursor: pointer;
    width: 210px;
    height: auto;
    border-style: groove;
  }
  
  /* Estilos para el mensaje de éxito */
  .success-message {
    margin-top: 10px;
    animation: changeColor 1s infinite; /* Aplicamos la animación "changeColor" durante 3 segundos en bucle infinito */
  }
  
  @keyframes changeColor {
    0% {
      color: red; /* Primer color: rojo */
    }
    50% {
      color: green; /* Segundo color: verde */
    }
    100% {
      color: blue; /* Tercer color: azul */
    }
  }
  
  /* .Ninja{
    margin-top: 4px;
    background-color: #282c34;
    display: flex;
    align-content:flex-end;
    padding: 5px;
    max-width: 2px;
    min-height: 158px;
    

  }

  /* styles.module.css */

/* .imgNinja {
  border-radius: 1px;
  margin-left: 4px;
  min-width: 110px !important;
  animation: waveAnimation 2s ease-in ;
}  */


@keyframes waveAnimation {
  30%, 100% {
    transform: rotate(10deg) translateX(10);
  }
  50% {
    transform: rotate(5deg) translateX(-10px); /* Cambia los valores según lo que quieras lograr */
  }
  100%{
    transform: rotate(-5deg) translateX(10px);
  }
  50%{
    transform: rotate(15deg) translateX(10px);

  }
  100%{
    transform: rotate(-5deg) translateX(10px);
  }
  
}


  .Nhr{
   
    display: flex;
    margin-top: -1px;
    margin-left: -25px;
    max-width: 80px;
    box-shadow: 0px 3px 2px 1px   #282c34;
  }

  .whatsapp{
    margin-top: -16px;
    display: flex;
     
     
    
    
  }
  .gmail{
    display: flex;
    justify-content: flex-end;
    margin-top: -80px;
    
   
    
    
  }
  
  /* Estilos para el modal */
  .successModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
    text-align: center;
    z-index: 1000; /* Asegúrate de que el modal esté en el frente */
  }

.successModal h2 {
  margin-bottom: 10px;
  padding-top: 14px;
  color: #70991f;
}

.successModal p {
  margin-bottom: 20px;
  color: #666;
}

.successModal button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.successModal button:hover {
  background-color: #0056b3;
}
