.container {
  position: absolute;
   
  left: 0;
  width: 97.2%;
  height: 75%;
  padding: 20px;
  text-align: center;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
  h1 {
    margin-top: 177px; 
    font-size: 36px;
    color: white;
    
  }

  .div{
    background-color: blue;
  }