.container {
     position: relative;  
     height: 47px;
     display:block;
     align-items: center;     
     border-radius: 13px;     
  } 

  
  .acheuno {
    padding-top: 5px;
    margin-top: 27px; 
    font-size: 27px;
    color: white;    
  }

  .openS{
    margin-top: 70px;
    background-color: #fcfc00;
    display: grid;
  }

 