.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 100; /* Ajusta el valor de z-index según tus necesidades */
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* LandinPage.module.css */
.Nav {
  margin-top: 10vh; /* Ajusta el valor según la altura del elemento .App-header */
  background-color: #282c34;
  display: flex;
  align-content: center;
  justify-content: space-around;
  padding: 10px;
  
}

.Nav ul {
  
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.Nav li {
  
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.Nav li a {
  
  text-decoration: none;
  color: #12fbec;
  font-weight: 700;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
 
}

.Nav li a:hover {
  background-color: #424141;
}

.Nav li a.active {
  background-color: #fcfc0038;
}