.App {
 
  text-align: center;
  
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  position: fixed;
  top: 0;
  left: 0px;
  width:99%;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
  z-index: 100; /* Ajusta el valor de z-index según tus necesidades */
  border-radius: 20px 20px 20px 20px;
  border-style: groove;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* LandinPage.module.css */
.Nav {
  margin-top: 10vh; /* Ajusta el valor según la altura del elemento .App-header */
  background-color: transparent;
  display: inline-block;
  gap: 33px;
  align-content: center;
  justify-content: space-around;
  padding: 10px;
  border-radius: 0px 0px 20px 20px;
  
}

.Nav ul {
  
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  
}

.Nav li {
  
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  border-style:groove;
}

.Nav li a {
  
  text-decoration: none;
  color: #282c34;
  font-weight: 700;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
 
}

.Nav li a:hover {
  border-radius: 0px 0px 20px 20px;
  background-color: #424141;
  color:#61dafb;
}

.Nav li a.active {
  background-color: #61dafb;
  border-radius: 0px 0px 20px 20px;
}

