.App {
 
  text-align:center;
  
  
}

.App-logo {
  height:11vmin;
  pointer-events: none;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 7s linear;
    
  }
}

.App-header {
  position: fixed;
  top: 0;
  left: 0px;
  width:99%;
  background-color: #8d0ee2;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
  z-index: 100; 
  border-radius: 5px 5px 5px 5px;
  border-style: groove;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* LandinPage.module.css */
.Nav {
  margin-top: 10vh; 
  background-color: transparent;
  display: inline-block;
  gap: 33px;
  align-content: center;
  justify-content: space-around;
  padding: 10px;
  border-radius: 5px 5px 5px 5px;
  
}

/* Estilos generales para pantallas grandes */
.Nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  
  justify-content:space-between;
}

/* Estilos para dispositivos móviles en vista vertical */
@media (max-width: 495px) and (orientation: portrait) {
  .Nav ul {
    
    flex-direction:column; /* Cambia la dirección a vertical */
    align-items: center; /* Centra los elementos en el eje horizontal */
    justify-content: space-around;
    
  }

  .Nav ul li {
    margin-bottom: -20px; /* Añade espacio entre los elementos */
  }

  .Nav ul li a {
    display: block;
    padding: 10px;
    width: 100%; /* Los enlaces ocupan todo el ancho */
    text-align: center; /* Centra el texto */
  }
}

/* Estilos para dispositivos móviles en vista horizontal */
@media (max-width: 768px) and (orientation: landscape) {
  .Nav ul {
    flex-direction: row; /* Cambia la dirección a horizontal */
    justify-content: space-around; /* Distribuye los elementos uniformemente */
  }

  .Nav ul li {
    margin-bottom: 0; /* Elimina el margen inferior en horizontal */
  }

  .Nav ul li a {
    padding: 10px 15px; /* Añade algo de padding */
    width: auto; /* Deja que los enlaces ocupen el ancho necesario */
    text-align: left; /* Alinea el texto a la izquierda */
  }
}


/* .Nav-link{
  
} */

.Nav li {
  
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  border-style:groove;
}

.Nav li a {
  
  text-decoration: none;
  color: #282c34;
  font-weight: 700;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
 
}

.Nav li a:hover {
  border-radius: 0px 0px 0px 0px;
  background-color: #0b03f9;
  color:white;
}

.Nav li a.active {
  background-color: #fcfc00;
  color:rgb(25, 5, 245);
  border-radius: 0px 0px 0px 0px;
}

